<div class="registration-wrapper flex flex-center slide-fadein-container" style="height: 100%;">
    <div class="form-container flex flex-column flex-space-between">

        <form *ngIf="currRegistrationPhase < 3"  [formGroup]="myForm" (ngSubmit)="onSubmit()">
            <div class="slide-fadein-container" *ngIf="currRegistrationPhase === 0" >
              <div class="register">
                <div class="field">
                  <input  autofocus [(ngModel)]="parentInputValue"  (ngModelChange)="updateChildValue()" type="text" id="fullName" formControlName="fullName" type="text" >
                  <label for="register">
                    <span>{{selectedLanguageMap.fullName}}</span>
                  </label>
                </div>
              </div>
                
                <div class="warning-messages" *ngIf="fullNameForm?.invalid && (fullNameForm?.dirty || fullNameForm?.touched)">
                  <div *ngIf="fullNameForm?.errors?.required">Full name is required.</div>
                  <div *ngIf="fullNameForm?.errors?.invalid">Full name must not contain digits or special characters and only one space is allowed.</div>
                </div>
            </div>

            <div class="slide-fadein-container"  *ngIf="currRegistrationPhase === 1" >
              <div class="register">
                <div class="field">
                  <input [maxlength]="10" type="tel" id="phoneNumber" formControlName="phoneNumber" autofocus [(ngModel)]="parentInputValue"  (ngModelChange)="updateChildValue()" type="text" >
                  <label for="register">
                    <span>{{selectedLanguageMap.phoneNumber}}</span>
                  </label>
                </div>
              </div>

                <div class="warning-messages" *ngIf="phoneNumberForm?.invalid && (phoneNumberForm?.dirty || phoneNumberForm?.touched)">
                  <div *ngIf="phoneNumberForm?.errors?.required">Phone number is required.</div>
                  <div *ngIf="phoneNumberForm?.errors?.pattern">Phone Number must be 10 digits long.</div>
                </div>

            </div>
 
            <div class="slide-fadein-container"  *ngIf="currRegistrationPhase === 2" >
               <app-face-recognition (imageCaptured)="onImageCaptured($event)"></app-face-recognition>
            </div>
        
          </form>
        <div class="slide-fadein-container selection-box " style="border-radius: 10px;" *ngIf="currRegistrationPhase < 3;else submitForm"> <button style="height: 100%;width: 100%;" [disabled]="canProceed(currRegistrationPhase)" (click)="handleNext()">{{selectedLanguageMap.next}}</button></div>
        
        <ng-template #submitForm>
          <div class="info-container">
              <img [src]="capturedImage" style="width: 350px;height: 350px;" *ngIf="capturedImage">
              <div style="color: white;margin: 10px auto;font-size: 3rem;">{{fullNameForm?.value}}</div>
              <div style="color: white;margin: 10px auto;font-size: 3rem;">{{phoneNumberForm?.value}}</div>
            <button class="submit-btn selection-box" type="submit" routerLink="/shop" [disabled]="myForm.invalid">{{selectedLanguageMap.createAccount}}</button>
            <button class="reset-btn selection-box" (click)="resetForm()" >{{selectedLanguageMap.reset}}</button>
        </div>
        </ng-template>
    </div>
    <app-on-screen-keyboard style="width: 100%;left:0" class="animation-container" [type]="'keyboard'" *ngIf="currRegistrationPhase === 0 "></app-on-screen-keyboard>
    <app-on-screen-keyboard style="width: 100%;left:0" class="animation-container" [type]="'numpad'" *ngIf="currRegistrationPhase === 1 "></app-on-screen-keyboard>
</div>