<div class="flex flex-column flex-center-x flex-space-evenly full-screen">
        <div *ngIf="!isLoginByFace && !isLoginByPhone;else loginMethod ">
                <div (click)="setLoginType('phone')" class="flex selection-box">{{selectedLanguageMap.loginByPhone}}</div>
                <div  (click)="setLoginType('face')" class="flex selection-box">{{selectedLanguageMap.loginByFace}}</div>
        </div>

        <!-- For Future Login Methods -->
        <ng-template #loginMethod>
                        <div *ngIf="isLoginByFace">
                                <app-face-recognition (imageCaptured)="login()"></app-face-recognition>
                        </div>
                        <div *ngIf="isLoginByPhone">
                        {{selectedLanguageMap.notSupported}}
                        </div>
        </ng-template>
</div>