<div class="flex flex-column full-screen slide-fadein-container">
        <div *ngIf="!isLoginByFace && !isLoginByPhone;else loginMethod " class="flex flex-end flex-column full-screen">
                <div (click)="setLoginType('phone')" class="flex selection-box first">
                        {{selectedLanguageMap.loginByPhone}}</div>
                <div (click)="setLoginType('face')" class="flex selection-box">{{selectedLanguageMap.loginByFace}}</div>
        </div>

        <!-- For Future Login Methods -->
        <ng-template #loginMethod class="flex flex-center-x">
                <div *ngIf="isLoginByFace">
                        <app-face-recognition (imageCaptured)="login()"></app-face-recognition>
                </div>
                <div *ngIf="isLoginByPhone" class="loginByPhone-container">
                        {{selectedLanguageMap.notSupported}}
                </div>
        </ng-template>
</div>