<div style="height: 99%;" class="flex flex-column flex-center flex-end slide-fadein-container">
  <div class="welcome">
    <div>Welcome <span>to Avacado!</span></div>
    <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi laboriosam, ut labore consequuntur, nobis a rem. Aliquid, dolorum.</div>
  </div>
  <div class="selection-box first flex flex-center" routerLink="/login"> {{ languageService.getTranslation('login')}} </div>
  <div class="selection-box flex flex-center" routerLink="/register" > {{languageService.getTranslation('register')}} </div>
</div>