
.keyboard-container {
   position:absolute;
   bottom: 0;
   left: 0;
   width: 100%;
   height: 250px;

    -webkit-box-shadow: inset 1px 1px 0 rgba(255,255,255,.25), 0 0 20px -8px rgba(0,0,0,.15);
    box-shadow: inset 1px 1px 0 rgba(255,255,255,.25), 0 0 20px -8px rgba(0,0,0,.15);
    background: #e3e3e3;
    background: linear-gradient(to right bottom,#eee,#ebebeb,#e8e8e8,#e6e6e6,#e3e3e3);
}


.keys-section {
    height: 70%;
    flex-wrap: wrap;
}
.key {
 height: 35px;
 width: 31.5px;
 background-color: white;
 border: 0.5px solid black;
 border-radius: 5px;
}
.action-key {
    @extend .key;
    height: 45px;
    width: 60px;
}
.action-keys-section {
    height: 30%;
    border-top: 5px solid grey;
    //  :nth-child(1){
    //     flex-grow: 1;
    //  }
    //  :nth-child(2){
    //     flex-grow: 4;
    //  }
     :not(:nth-child(2)){
     width: 15%;   
     }
     :nth-child(2){
        width: 244px;
     }
    //  :nth-child(4){
    //     flex-grow: 1;
    //  }

}

.green {
    background-color: green;
}











