.main-page-background{
    background-color: black;
    // width: 100vw;
    // height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.device-screen {
    background: linear-gradient(
        to bottom,
        #639EDB,
        #0668CF
     ) no-repeat;
    height: 1875px;
    width: 486px;
    position: relative;
    background-image: url('../assets/bg1.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;

}

.back-btn {
    position: absolute;
    left: 0;
    border-radius: 50%;
    background-color: white;
    width: 70px;
    height: 70px;
    margin: 15px;
    z-index: 10;
    
    img {
        height: 70px;
        width: 70px;
    }
}
.language-picker-container {
    position: absolute;
    right: 0;

}

