.main-page-background{
    background-color: black;
    // width: 100vw;
    // height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.device-screen {
    background: linear-gradient(
        to bottom,
        #639EDB,
        #0668CF
     ) no-repeat;
    height: 1875px;
    width: 486px;
    position: relative;
    background-image: url('../assets/bg1.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;

}
