<style>

</style>

<div class="main-page-background">
  <div class="device-screen">
    <div class="flex flex-space-evenly">
      <div class="back-btn" *ngIf="shouldShowComponentByRoute(['/'])" routerLink="/"><img src="../assets/back.svg" alt="" srcset=""> </div>
      <div class="language-picker-container" *ngIf="shouldShowComponentByRoute(['/login','/register'])">
        <app-language-picker></app-language-picker>
      </div>

    </div>
    <!-- <div class="flex flex-center"></div> -->
    <router-outlet style="height: 100%;">
    </router-outlet>
  </div>
</div>