<div style="height: 99%;" class="flex flex-column flex-center flex-end slide-fadein-container">
    <div class="welcome">
      <div>Welcome <span>to the store!</span></div>
      <div>You may now open the door and start shopping.</div>
    </div>
    <!-- <div class="selection-box first flex flex-center" routerLink="/login"> {{ languageService.getTranslation('login')}} </div> -->
    <!-- <div class="selection-box flex flex-center" routerLink="/register" > {{languageService.getTranslation('register')}} </div> -->
  </div>