/* You can add global styles to this file, and also import other style files */

.flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.flex-center {
    justify-content: center;
    align-items: center;
}

.flex-center-x {
    align-items: center;
}

.flex-center-y {
    justify-content: center;
}

.flex-space-between {
    justify-content: space-between;
}

.flex-space-around {
    justify-content: space-around;
}

.flex-space-evenly {
    justify-content: space-evenly;
}

.full-screen {
    width: 100%;
    height: 100%;
}

.selection-box {
    @extend .flex-center;
    border: 1px solid black;
    border-radius: 20px;
    width: 360px;
    height: 300px;
}

html {
    margin: 0;
    padding: 0;
}

body {
    
}
body {
 
    margin: 0;
    font-family: 'Arimo', sans-serif;
    background-size: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
 }