/* You can add global styles to this file, and also import other style files */

.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.flex-center {
  justify-content: center;
  align-items: center;
}

.flex-end {
  justify-content: flex-end;
}

.flex-center-x {
  align-items: center;
}

.flex-center-y {
  justify-content: center;
}

.flex-space-between {
  justify-content: space-between;
}

.flex-space-around {
  justify-content: space-around;
}

.flex-space-evenly {
  justify-content: space-evenly;
}

.full-screen {
  width: 100%;
  height: 99%;
}

.selection-box {
  @extend .flex-center;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 15px;
  width: 85%;
  height: 65px;
  margin: 27px auto 45px auto;
  font-weight: bolder;
  font-size: large;
  color: white;

  &.first {
    background-color: white;
    color: #0a7ad3;
    margin-bottom: 1px;
  }
}

.welcome {
  margin-bottom: 50px;
  & > div:first-child {
    font-size: 6rem;
    line-height: 0.8;
    & span {
      font-size: 4rem;
    }
  }
  & > div:last-child {
    font-size: 2rem;
    margin-top: 70px;
  }
  width: 85%;
  color: white;
}

.face-login-container {
  margin-top: 80%;
  background-color: #0a7ad39e;

  h1 {
    color: white;
    font-size: 4rem;
  }

  .click-photo {
    border: 2px solid white;
    border-radius: 10%;
    padding: 10px;
    color: white;
    margin: 15px;
    font-size: 2rem;

    &:hover {
    color: #0a7ad3;
    background-color: white;
    }
  }
}

.wave {
  display: block;
  position: relative;
  height: 40px;
  width: 100%;
  background: rgb(57, 27, 112);
  transform: scale(1, 1);

  &::before {
    content: "";
    display: block;
    position: absolute;
    border-radius: 100%;
    width: 100%;
    height: 300px;
    background-color: white;
    right: -25%;
    top: 20px;
  }

  &::after {
    content: "";
    display: block;
    position: absolute;
    border-radius: 100%;
    width: 100%;
    height: 300px;
    background-color: rgb(57, 27, 112);
    left: -25%;
    top: -240px;
    clip-path: ellipse(100% 15% at -15% 100%);
  }
}


.loginByPhone-container {
  color: white;
  margin: 40vh auto;
  font-size: 3rem;
}

html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: "Arimo", sans-serif;
  background-size: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}


.slide-fadein-container {
  opacity: 0;
  transform: translateX(-10px);
  animation: slideFadeIn 0.3s ease-out forwards;
}



@keyframes slideFadeIn {
  to {
    opacity: 1;
    transform: translateX(0);
  }
}


.animation-container {
  opacity: 0;
  transform: translateY(1000px);
  position: absolute;
  bottom: 0;
  animation: slideFadeInBottom 0.6s ease-out forwards;
}

@keyframes slideFadeInBottom {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}