/* You can add global styles to this file, and also import other style files */

.flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.flex-center {
    justify-content: center;
    align-items: center;
}

.flex-end {
    justify-content: flex-end;
}

.flex-center-x {
    align-items: center;
}

.flex-center-y {
    justify-content: center;
}

.flex-space-between {
    justify-content: space-between;
}

.flex-space-around {
    justify-content: space-around;
}

.flex-space-evenly {
    justify-content: space-evenly;
}

.full-screen {
    width: 100%;
    height: 99%;
}

.selection-box {
    @extend .flex-center;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 15px;
    width: 85%;
    height: 65px;
    // margin-bottom: 45px;
    margin: 27px auto 45px auto;
    font-weight: bolder;
    font-size: large;
    color: white;

    &.first {
        background-color: white;
        color:#0a7ad3;
        // margin-bottom: 27px;
        margin-bottom: 1px;
    }
}


.welcome {
    margin-bottom: 50px;
    &> div:first-child {
        font-size: 6rem;
        line-height: 0.8;
        & span {
            font-size: 4rem;
        }
    }
    &> div:last-child {
        font-size: 2rem;
        margin-top: 70px;
    }
    width: 85%;
    color: white;
}

.face-login-container {
    margin-top: 80%;
    background-color: #0a7ad39e;

    h1 {
        color: white;
        font-size: 4rem;
    }

    &.click-photo {
        color: #0a7ad3;
        background-color: white;
    }
}

html {
    margin: 0;
    padding: 0;
}

body {
    
}
body {
 
    margin: 0;
    font-family: 'Arimo', sans-serif;
    background-size: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
 }