.terminal-background {
    background: url('../../../../../RandomImages/monitor_unedited.jpg') no-repeat center center fixed;
    // padding: 100px 200px 300px 50px;
    aspect-ratio: 486 / 1875;
}  

.terminal-screen {
    width: 486px;
    height: 1875px;
    background-color: green;
}